img { height: auto; max-width: 100%; border: 1; bottom: 30}
element.style {width: 33.33%;}
input[type="number"]{ width: 80px}
modal-backdrop{ position: fixed; height: 100%; top: 0; right: 0; bottom: 0; left: 0; z-index: -1; background-color: #000; opacity: 80%;}
modal.content{ overflow: auto;}
@media (min-width: 992px) { .modal-lg{ width: 900px; }}
body {font-family: 'Roboto', sans-serif;}
h1 {font-family: 'Roboto Condensed', sans-serif;}
h2 {font-family: 'Roboto Condensed', sans-serif;}
h3 {font-family: 'Roboto Condensed', sans-serif;}
h4 {font-family: 'Roboto Condensed', sans-serif;}
h5 {font-family: 'Roboto Condensed', sans-serif;}
h6 {font-family: 'Roboto Condensed', sans-serif;}
.collapse-title {
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-size: h4;
}
.collapse-title > a,
.collapse-title > button {
	color: inherit
}
.contact {
	font-size: 9pt;
}
.version{
	color: #ababab;
	font-size: 7pt;
}

.Rversion{
    font-size: inherit;
    color: inherit;
}

.shiny-input-container > label{
    font-weight: 200;
}
