body .modal{
	position: absolute;
	width: 70%;
	margin-left: -35%;
	max-height: 70%;
	overflow-y:auto;
	-webkit-overflow-scrolling: touch;
}

@media (max-width: 767px) {
  #content .modal.fade.in {
    top: 5%;
  }
}